:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color:#212121;
}

body {
    font-family:var(--main-font);
    width: 1600px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* ---------- HEADER --------------*/
.header  {
    display: flex;
    align-items: center;
    border: 1px solid rgba(236, 236, 236, 1);
    background-color: #E5E5E5;
}
.container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}
.nav-item {
    flex-grow: 1;
}
.navigation-list,
.address {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.logo {
    padding-right: 95px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
}

.navigation-list-mail {
    padding-right: 50px;
}

.header .address {
    margin-left: auto;
}

.logo,
.logo-color,
.logo-footer {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}


.logo {
    color:rgba(33, 150, 243, 1);
}
.logo-color {
    color:rgba(0, 0, 0, 1);
}


.navigation-list-link,
.navigation-list-mail,
.navigation-list-tel
 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.navigation-list-link:last-child {
    padding-right: 46px;
}
.navigation-list-mail,
.navigation-list-tel {
    color: #757575;
}
.navigation-list-mail {
    padding-left: 325px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-mail:hover,
.navigation-list-mail:focus,
.navigation-list-tel:hover,
.navigation-list-tel:focus
 {
    color: var(--main-color);
 }
/* -----------END HEADER --------- */


/* ---------- MAIN --------------*/

.hero-description-text {
    width: 270px;
    text-align: left;
    margin-right: 30px;
}
.hero-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-lorem {
    background-color: #FFFFFF;
}
.hero {
    background-color:#2F303A;
}
.hero-item {
    display: flex;
    align-items:center;
    flex-direction: column;
}

.hero-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #757575;
}

.undertitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-color);
}

.hero-item-text {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 30px;
}

.hero-item {
    background-color:#2F303A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-modal-btn {
    padding: 10px 41px 10px 42px;
    align-items: center;
    cursor: pointer;
    border: 0;
}
.hero-modal-btn {
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.hero-modal-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;  
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}

.border {
    border: 1px solid #ECECEC;
    position: absolute;
        width: 1600px;
        height: 0px;
        left: 3px;
        top: 85px;
}
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 50px;
}

.nav-btn-list:not(:last-child) {
    margin-right: 8px;
}
.nav-btn-list:first-child {
    margin-left: 310px;
}
.nav-btn {
    background-color: #FFFFFF;
}

.nav-btn-list-item {
    display: flex;
    justify-content: center;
    list-style-type: none;
    list-style-position: inside;
    list-style-type:none;
}
.nav-modal-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-color);
background-color:#F5F4FA;
border: 0;
padding: 6px 22px;
cursor: pointer;
}
.nav-modal-btn:hover,
.nav-modal-btn:focus {
    color:#FFFFFF;
    background-color: var(--main-color);
}

/* ---------- END-MAIN --------------*/

/* ---------- ABOUT --------------*/
.about {
 padding-bottom: 94px;
 background-color: #FFFFFF;
}
.secondary-undertitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    padding-bottom: 50px;
    margin: 0 auto;
}
.about-img-list {
    display: flex;
    justify-content: space-between;
}
.about-img-list-item {
    padding-right: 30px;
}
/* ---------- END-ABOUT --------------*/

/* ---------- TEAM --------------*/
.team {
    background-color: #F5F4FA;
}
.team-img {
    display: flex;
    justify-content: space-between;
}
.team-img-list-item {
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}
.team-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0 auto;
    padding-bottom: 30px;
}
.team-img-list-img {
    padding-bottom: 30px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin: 0 auto;
    padding-bottom: 10px;
}

/* ---------- END-TEAM --------------*/


/* ---------- PORTFOLIO --------------*/
.portfolio-card {
    padding-left: 24px;
}
.portfolio-img {
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: left;
}

.portfolio-list {
    flex-basis: calc((100%-60px) / 3-0.5px);
    background-color: var(--bright);
    border-bottom: 1px solid #eeeeee;
}

.portfolio-list-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
     padding: 0;
    margin: 0;
    padding-bottom: 94px;
}
.portfolio {
    background-color: #FFFFFF;
}
.prtfolio-item {
    color: var(--bold-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-class-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}
/* ---------- END-PORTFOLIO --------------*/

/* ---------- FOOTER --------------*/
.address-footer {
    padding-top: 20px;
}
.logo-footer {
    padding-left: 215px;
}
.footer-address {
    padding-bottom: 9px;
    padding-left: 215px;
}
.address-mail-footer {
    padding-bottom: 9px;
    padding-left: 215px;
}
.address-tel-footer {
    padding-left: 215px;
}
.footer {
    background: #2F303A;
}
.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail {
    text-decoration-line: underline;
}
.footer-address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-logo-color {
    color:rgba(255, 255, 255, 1);
}
.section-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    
}
/* ---------- END-FOOTER --------------*/





